/* CUSTOM */

:root {
    --nav-bg-color: #add8e6;
    --nav-container-bg-color: #daa520;
    --main-first-section: #00008b;
    --main-section-container-bg-color: #ee82ee
}

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Debug */
    border: solid 1px black;
}

.container {
    height: 30rem;
    margin: 0 auto;
}

.dashed {
    border: dashed .15rem;
}

/* NAV */

nav {
    display: flex;
    justify-content: center;
    height: 5rem;
    background-color: var(--nav-bg-color);
    padding: 1rem 15rem;
}

.nav-container {
    display: flex;
    width: 15%;
    background-color: #daa520;
    align-items: center;
}

.nav-container.left {
    padding-left: 1rem;
}

.nav-container.large {
    justify-content: center;
    flex-grow: 1;
    text-align: center;
}

.nav-container.right {
    justify-content: flex-end;
    padding-right: 1rem;
}

/* MAIN */

.container {
    height: 28rem;
    padding: 1rem
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-first-section);
}

.main-section-container {
    width: 60%;
    height: 90%;
    background-color: var(--main-section-container-bg-color);
}